In [126]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [127]:
csv_file = "C:\\Users\\mgeam\\01-Lesson-Plans\\01-Lesson-Plans\\13-ETL-Project\\Resources\\Player Bios.csv"
Players = pd.read_csv(csv_file)
Players

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...
3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [128]:
Players.dtypes

Player          object
height         float64
weight         float64
collage         object
born           float64
birth_city      object
birth_state     object
dtype: object

In [146]:
Players_df = Players[['Player', 'height', 'weight', 'collage', 'born']].copy()
Players_transform_df = Players_df.copy()
Players_transform_df = Players_transform_df.rename(columns={"Player": "Player Name",
                                                         "height": "Height in cm",
                                                         "weight": "Weight in lbs",
                                                         "collage": "College",
                                                         "born": "Birth Year"})

FinalPlayers = Players_transform_df.drop_duplicates("Player Name", inplace=True)
FinalPlayers = Players_transform_df.reset_index(drop=True)
FinalPlayers

,Player Name,Height in cm,Weight in lbs,College,Birth Year
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0
...,...,...,...,...,...
3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0
3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0
3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0
3920,Paul Zipser,203.0,97.0,NaN,1994.0
3921,Ivica Zubac,216.0,120.0,NaN,1997.0

In [130]:
csv_file = "C:\\Users\\mgeam\\01-Lesson-Plans\\01-Lesson-Plans\\13-ETL-Project\\Resources\\Player Season Stats.csv"
SeasonStats = pd.read_csv(csv_file)
SeasonStats.set_index('Player')

C:\Users\mgeam\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,0.1
Player,,,,,,,,,,,,,,,,,,,,,
Curly Armstrong,0,1950,G-F,31,FTW,63,0,0,0.0,0.368,...,0,0,0,176,0,0,0,217,458,0
Cliff Barker,1,1950,SG,29,INO,49,0,0,0.0,0.435,...,0,0,0,109,0,0,0,99,279,0
Leo Barnhorst,2,1950,SF,25,CHS,67,0,0,0.0,0.394,...,0,0,0,140,0,0,0,192,438,0
Ed Bartels,3,1950,F,24,TOT,15,0,0,0.0,0.312,...,0,0,0,20,0,0,0,29,63,0
Ed Bartels,4,1950,F,24,DNN,13,0,0,0.0,0.308,...,0,0,0,20,0,0,0,27,59,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cody Zeller,24686,2017,PF,24,CHO,62,58,1725,16.7,0.604,...,135,270,405,99,62,58,65,189,639,0
Tyler Zeller,24687,2017,C,27,BOS,51,5,525,13.0,0.508,...,43,81,124,42,7,21,20,61,178,0
Stephen Zimmerman,24688,2017,C,20,ORL,19,0,108,7.3,0.346,...,11,24,35,4,2,5,3,17,23,0
Paul Zipser,24689,2017,SF,22,CHI,44,18,843,6.9,0.503,...,15,110,125,36,15,16,40,78,240,0
Ivica Zubac,24690,2017,C,19,LAL,38,11,609,17.0,0.547,...,41,118,159,30,14,33,30,66,284,0

In [139]:
SeasonStats_df = SeasonStats[['Player', 'Year', 'Pos', 'Age', 'G', 'GS', 'MP', 'PER', 'TS%', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%'
                             , '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV'
                             , 'PF', 'PTS']].copy()
SeasonStats_transform_df = SeasonStats_df.copy()
SeasonStats_transform_df = SeasonStats_transform_df.rename(columns={"Player": "Player Name",
                                                         "Year": "Year Played",
                                                         "Pos": "Position",
                                                         "Age": "Age",
                                                         "G": "Games Played",
                                                         "GS": "Games Started",
                                                         "MP": "Minutes Played",
                                                         "PER": "Player Efficiency Rating",
                                                         "TS%": "True Shooting Percentage",
                                                         "FG": "Field Goals Made",
                                                         "FGA": "Field Goals Attempted",
                                                         "FG%": "Field Goal Percentage",
                                                         "3P": "3 Pointers Made",
                                                         "3PA": "3 Pointers Attempted",
                                                         "3P%": "3 Point Percentage",
                                                         "2P": "2 Pointers Made",
                                                         "2PA": "2 Pointers Attempted",
                                                         "2P%": "2 Point Percentage",
                                                         "eFG%": "Effective Field Goal Percentage",
                                                         "FT": "Free Throws Made",
                                                         "FTA": "Free Throws Attempted",
                                                         "FT%": "Free Throw Percentage",
                                                         "ORB": "Offensive Rebounds",
                                                         "DRB": "Defensive Rebounds",
                                                         "TRB": "Total Rebounds",
                                                         "AST": "Assists",
                                                         "STL": "Steals",
                                                         "BLK": "Blocks",
                                                         "TOV": "Turnovers",
                                                         "PF": "Personal Fouls",
                                                         "PTS": "Points"})

In [140]:
FinalSeasonStats = SeasonStats_transform_df.replace(0, "N/A", inplace=True)
FinalSeasonStats = SeasonStats_transform_df.reset_index(drop=True)
FinalSeasonStats

,Player Name,Year Played,Position,Age,Games Played,Games Started,Minutes Played,Player Efficiency Rating,True Shooting Percentage,Field Goals Made,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
0,Curly Armstrong,1950,G-F,31,63,N/A,N/A,N/A,0.368,144,...,0.705,N/A,N/A,N/A,176,N/A,N/A,N/A,217,458
1,Cliff Barker,1950,SG,29,49,N/A,N/A,N/A,0.435,102,...,0.708,N/A,N/A,N/A,109,N/A,N/A,N/A,99,279
2,Leo Barnhorst,1950,SF,25,67,N/A,N/A,N/A,0.394,174,...,0.698,N/A,N/A,N/A,140,N/A,N/A,N/A,192,438
3,Ed Bartels,1950,F,24,15,N/A,N/A,N/A,0.312,22,...,0.559,N/A,N/A,N/A,20,N/A,N/A,N/A,29,63
4,Ed Bartels,1950,F,24,13,N/A,N/A,N/A,0.308,21,...,0.548,N/A,N/A,N/A,20,N/A,N/A,N/A,27,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,Cody Zeller,2017,PF,24,62,58,1725,16.7,0.604,253,...,0.679,135,270,405,99,62,58,65,189,639
24687,Tyler Zeller,2017,C,27,51,5,525,13,0.508,78,...,0.564,43,81,124,42,7,21,20,61,178
24688,Stephen Zimmerman,2017,C,20,19,N/A,108,7.3,0.346,10,...,0.6,11,24,35,4,2,5,3,17,23
24689,Paul Zipser,2017,SF,22,44,18,843,6.9,0.503,88,...,0.775,15,110,125,36,15,16,40,78,240
24690,Ivica Zubac,2017,C,19,38,11,609,17,0.547,126,...,0.653,41,118,159,30,14,33,30,66,284

In [141]:
!pip install psycopg2-binary --user

Requirement already satisfied: psycopg2-binary in c:\users\mgeam\appdata\roaming\python\python38\site-packages (2.8.6)

In [152]:
connection_string = "postgres:postgres@localhost:5432/NBA Player Profile"
engine = create_engine(f'postgresql://{connection_string}')

In [160]:
engine.table_names()

['Player Season Stats', 'Player Bio', 'Bio', 'Stats']

In [177]:
['Player Bio', 'Player Season Stats']

['Player Bio', 'Player Season Stats']

In [178]:
FinalPlayers.to_sql(name='Bio', con=engine, if_exists='replace', index=True)

In [179]:
FinalSeasonStats.to_sql(name='Stats', con=engine, if_exists='replace', index=True)

In [182]:
 pd.read_sql_query('SELECT * FROM "Bio"', con=engine)

,index,Player Name,Height in cm,Weight in lbs,College,Birth Year
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0
...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0
3920,3920,Paul Zipser,203.0,97.0,None,1994.0
3921,3921,Ivica Zubac,216.0,120.0,None,1997.0

In [181]:
pd.read_sql_query('SELECT * FROM "Stats"', con=engine)

,index,Player Name,Year Played,Position,Age,Games Played,Games Started,Minutes Played,Player Efficiency Rating,True Shooting Percentage,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
0,0,Curly Armstrong,1950,G-F,31,63,N/A,N/A,N/A,0.368,...,0.705,N/A,N/A,N/A,176,N/A,N/A,N/A,217,458
1,1,Cliff Barker,1950,SG,29,49,N/A,N/A,N/A,0.435,...,0.708,N/A,N/A,N/A,109,N/A,N/A,N/A,99,279
2,2,Leo Barnhorst,1950,SF,25,67,N/A,N/A,N/A,0.39399999999999996,...,0.698,N/A,N/A,N/A,140,N/A,N/A,N/A,192,438
3,3,Ed Bartels,1950,F,24,15,N/A,N/A,N/A,0.312,...,0.5589999999999999,N/A,N/A,N/A,20,N/A,N/A,N/A,29,63
4,4,Ed Bartels,1950,F,24,13,N/A,N/A,N/A,0.308,...,0.5479999999999999,N/A,N/A,N/A,20,N/A,N/A,N/A,27,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,Cody Zeller,2017,PF,24,62,58,1725,16.7,0.604,...,0.679,135,270,405,99,62,58,65,189,639
24687,24687,Tyler Zeller,2017,C,27,51,5,525,13.0,0.508,...,0.564,43,81,124,42,7,21,20,61,178
24688,24688,Stephen Zimmerman,2017,C,20,19,N/A,108,7.3,0.34600000000000003,...,0.6,11,24,35,4,2,5,3,17,23
24689,24689,Paul Zipser,2017,SF,22,44,18,843,6.9,0.503,...,0.775,15,110,125,36,15,16,40,78,240
24690,24690,Ivica Zubac,2017,C,19,38,11,609,17.0,0.547,...,0.653,41,118,159,30,14,33,30,66,284